In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it.csv')
df.head(10)

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽"
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽"
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽"
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽"
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽"
5,6,21.08.1973,Big Data Developer,Big Data,Санкт-Петербург,"280 000,00 ₽"
6,7,10.10.1991,JS Developer,JS,Москва,"129 000,00 ₽"
7,8,16.08.1982,Разработчик мобильных приложений,Android,Москва,"185 000,00 ₽"
8,9,16.05.1988,Инженер-программист 2 категории,.NET,Санкт-Петербург,"160 000,00 ₽"
9,10,01.12.1990,Java Engineer,Java,Краков; Польша,"9 500,00 zł"

In [13]:
dfrub=df[df['З/п в валюте найма'].str[-1]=='₽']
dfrub['З/п в валюте найма']=dfrub['З/п в валюте найма'].str[:3]+dfrub['З/п в валюте найма'].str[4:7]
dfrub.head()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,140000
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,130000
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,200000
3,4,09.06.1989,Архитектор ПО,Java,Москва,250000
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,172413

In [14]:
dfrub['З/п в валюте найма']=list(map(lambda x: int(x),dfrub['З/п в валюте найма']))

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
dfrub['З/п в валюте найма'].mean()

190669.86046511628

In [16]:
#средняя зарплата выше

In [17]:
#технология с максимальной з/п:

In [18]:
dfrub[dfrub['З/п в валюте найма']==dfrub['З/п в валюте найма'].max()]['Технология']

14    QA
Name: Технология, dtype: object

In [19]:
#age:

In [29]:
import datetime
from datetime import datetime, timedelta

def convert_to_datetime(row):
    return datetime.strptime(row['Дата рождения'], '%d.%m.%Y')

In [30]:
dfrub['Дата рождения']=dfrub.apply(convert_to_datetime, axis=1)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
dfrub.head()

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма
0,1,1994-04-18,Инженер-программист 2 категории,JS,Санкт-Петербург,140000
1,2,1993-03-27,Разработчик информационных систем,.NET,Москва,130000
2,3,1983-11-24,Java Developer,Java,Санкт-Петербург,200000
3,4,1989-06-09,Архитектор ПО,Java,Москва,250000
4,5,1978-10-03,QA Automation Engineer,QA,Санкт-Петербург,172413

In [33]:
import time
def make_unix_time(row):
    return time.mktime(row['Дата рождения'].timetuple())

In [34]:
dfrub['Секунды']=dfrub.apply(make_unix_time, axis=1)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
today=time.mktime(datetime.strptime('11.06.2020', '%d.%m.%Y').timetuple())

In [42]:
dfrub['Возраст']=round((today-dfrub['Секунды'])/31536000)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
dfrub[dfrub['З/п в валюте найма']==dfrub['З/п в валюте найма'].max()]['Возраст']

14    34.0
Name: Возраст, dtype: float64

In [46]:
#встречается слово Engineer:

In [47]:
dfrub[dfrub['Вакансия'].str.find('Engineer') !=-1]['З/п в валюте найма']

4     172413
18    200000
19    135000
Name: З/п в валюте найма, dtype: int64