In [42]:
import pandas as pd
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/new_year_film.csv"
df=pd.read_csv(url)
df.head()

,name,country,time,ranking,type,year,director
0,Невеста,Россия,74,"7,66",фильм,2006,Билли Уайлдер
1,Кто приходит в зимний вечер,Россия,90,"6,038",фильм,2006,Билли Уайлдер
2,Моя мама Снегурочка,Россия,90,"6,828",фильм,2007,Билли Уайлдер
3,Набережная Орфевр,Франция,106,"7,597",фильм,1947,Билли Уайлдер
4,Лузер,Россия,104,"6,065",фильм,2007,Билли Уайлдер

In [43]:
df['ranking']=df['ranking'].str[0]+'.'+df['ranking'].str[2:]

In [44]:
df['ranking']=list(map(lambda x: float(x),df['ranking']))

In [45]:
df['ranking'].mean()

7.217393333333333